
<div class="container-fluid">&nbsp;</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Tags</label>
        <app-auto-complete-mutli-select (ResultData)="GetOutput($event)" style="width: 100%;">
        </app-auto-complete-mutli-select>
      </div>
      <div class="form-group">
        <label>Type</label>
        <select class="form-control" [(ngModel)]="Filters.Type" name="tags" style="width: 50%;" #tags="ngModel" required>
          <option *ngFor="let Tag of Types" value="{{Tag.TValue}}" selected>
            {{Tag.TText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Search</label>
        <input type="text"  name="Search" class="form-control" placeholder="Search...">
      </div>
      <button mdbBtn type="button" color="primary" (click)="SearchFilter()" mdbWavesEffect>Submit</button>
    </div>
  </div>
</div>
