<div class="container-fluid">&nbsp;</div>
<div class="container">
  <form #question="ngForm">
    <div class="form-group">
      <label>Tags</label>
      <app-auto-complete-mutli-select (ResultData)="GetOutput($event)" >
      </app-auto-complete-mutli-select>
    </div>
    <div class="form-group">
      <label>Title</label>
      <input type="text" [(ngModel)]="Qst.Title" #title="ngModel" name="title" class="form-control" placeholder="Title" required>
    </div>
    <div class="form-group">
      <label>Question</label>
      <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" name="quetion" [(ngModel)]="Qst.Question" #Qstion="ngModel"
        required></angular-editor>
    </div>
    <button mdbBtn type="button" color="primary" (click)="SubmitQst();" [disabled]="question.invalid || Qst.TagsAr?.length === 0"
      mdbWavesEffect>Post</button>
  </form>
</div>
