<div class="container-fluid">&nbsp;</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" *ngIf="Contibutor?.length !==0" [ngClass]="{'col-md-4': SimilarQst?.length === 0}">
      <mdb-card bgColor="bg-light">
        <mdb-card-header class="bg-transparent">Contribution</mdb-card-header>
        <mdb-card-body>
          <mdb-card-text>
            <ul class="list-group">
              <li class="list-group-item" style="border-radius: 10px;" *ngFor="let item of Contibutor">
                <img class="img-fluid rounded mr-1" [ngStyle]="{'height: 15%;width: 10%;border-radius:90%': SimilarQst?.length === 0}"
                  src="{{item.pic}}" alt="Profile" />
                {{item.name}}</li>
            </ul>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-6"
      [ngClass]="{'col-md-12': Contibutor?.length === 0 && SimilarQst?.length === 0,'col-md-8': Contibutor?.length === 0 || SimilarQst?.length === 0}">
      <div class="row">
        <div class="col-md-12">
          <div class="spinner-border text-info" role="status" *ngIf="IsLoading">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="IsServerError">
            <h4 class="alert-heading">OOPS!</h4>
            <p>Something Went wrong.Due to http Errors</p>
            <hr>
            <p class="mb-0">We Will Notify when server is Available</p>
          </div>
          <mdb-card bgColor="bg-light" *ngIf="Question && IsLoading === false">
            <mdb-card-header class="bg-transparent">
              {{Question.title}}
            </mdb-card-header>
            <mdb-card-body>
              <mdb-card-text>
                <blockquote class="blockquote mb-0">
                  <div class="mb-1" innerHtml="{{Question.question}}" style="overflow-x: auto;">
                  </div>
                </blockquote>
                <hr>
                <mdb-badge primary="true" class="mr-1" style="font-size: small;" *ngFor="let Tags of Question.tags">
                  {{Tags}} &nbsp;</mdb-badge>
                <hr>
                <small (mouseover)="MouseEvnt($event, Question.auid)" [mdbPopover]="hoverImgTemp" mdbWavesEffect
                  triggers="hover">Asked By
                  : {{Question.askedby}}</small>&nbsp;&nbsp;<small>Asked on : {{GenDate(Question.askedOn)}}</small>
                <br>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
          <br>
          <!-- <div class="alert alert-success" role="alert" *ngIf="Answers && IsLoading === false && Question">
              <h4 class="alert-success">No Answers</h4>
              <p>You Can Reply to show your Skills </p>
            </div> -->
          <div *ngIf="Answers && IsLoading === false && Question">
            <h4>Answers</h4>
            <hr>
            <mdb-card *ngFor="let ans of Answers" style="margin-top: 50px;">
              <mdb-card-body>
                <mdb-card-text>
                  <blockquote class="blockquote mb-0">
                    <div class="mb-1" innerHtml="{{ans.answer}}" style="overflow-x: auto;">
                    </div>
                  </blockquote>
                  <hr>
                  <small (mouseover)="MouseEvnt($event, ans.aid)" [mdbPopover]="hoverImgTemp" mdbWavesEffect
                    triggers="hover">Answered By
                    : {{ans.answeredby}}</small>&nbsp;&nbsp;<small>Answered on : {{GenDate(ans.answeredon)}}</small>
                  <br>
                </mdb-card-text>
              </mdb-card-body>
              <mdb-card-footer>
                <button mdbBtn type="button" class="btnlike" color="{{GetBtnclr(ans.uLikes)}}" *ngIf="ans.answeredby !== 'You'"
                  [disabled]="this.AppCom.IsAutheticated === false" (click)="SubmitLike(ans.ansID)">
                  <mdb-icon far icon="thumbs-up"  mdbWavesEffect></mdb-icon> Like
                </button>
                &nbsp;
                <mdb-badge pill="true" *ngIf="ans.tLikes!==0" primary="true">
                  <mdb-icon far icon="thumbs-up"></mdb-icon>
                  {{ans.tLikes}}
                </mdb-badge>
              </mdb-card-footer>
            </mdb-card>
          </div>
          <br>
          <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="UserAns.Answer"></angular-editor>
          <button mdbBtn type="button" color="primary" [disabled]="this.AppCom.IsAutheticated === false"
            (click)="SubmitAns();" mdbWavesEffect>Post</button>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="IsLoading === false && SimilarQst?.length !==0 ">
      <mdb-card bgColor="bg-light">
        <mdb-card-header class="bg-transparent">Similar Problems</mdb-card-header>
        <mdb-card-body>
          <mdb-card-text>
            <div class="list-group" *ngIf="IsServerError === false">
              <a (click)="ViewSingleissue(item);" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of SimilarQst">
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">{{item.title}}</h6>
                </div>
                <small>
                  <mdb-badge primary="true" class="mr-1" style="font-size: small;" *ngFor="let Tags of item.tags">{{Tags}} &nbsp;</mdb-badge>
                </small>
              </a>
            </div>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
<ng-template #hoverImgTemp>
  <div>
    <div class="spinner-border text-info" role="status" *ngIf="IsChildEL">
      <span class="sr-only">Loading...</span>
    </div>
    <mdb-card *ngIf="IsChildEL === false && Puser">
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="{{Puser.profile}}" class="img-fluid z-depth-1 rounded-circle" alt="Card image cap">
        </mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>{{Puser.fullname}}</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          <p class="text-primary">Contact : {{Puser.contact}}</p>
          <p class="text-primary">Questions : {{Puser.questions}}</p>
          <p class="text-primary">Answers : {{Puser.answers}}</p>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</ng-template>
