<div class="container-fluid">&nbsp;</div>
<div class="container">
  <mdb-badge default="true">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </mdb-badge>
  <mdb-badge primary="true">
    <mdb-icon fab icon="instagram"></mdb-icon>
  </mdb-badge>
  <mdb-badge success="true">
    <mdb-icon fab icon="snapchat-ghost"></mdb-icon>
  </mdb-badge>
  <mdb-badge info="true">
    <mdb-icon fas icon="anchor"></mdb-icon>
  </mdb-badge>
  <mdb-badge warning="true">
    <mdb-icon far icon="sun"></mdb-icon>
  </mdb-badge>
  <mdb-badge danger="true">
    <mdb-icon fas icon="battery-three-quarters"></mdb-icon>
  </mdb-badge>
  <mdb-badge pill="true" color="pink">
    <mdb-icon fas icon="wheelchair"></mdb-icon>
  </mdb-badge>
  <mdb-badge pill="true" color="light-blue">
    <mdb-icon far icon="heart"></mdb-icon>
  </mdb-badge>
  <mdb-badge pill="true" color="indigo">
    <mdb-icon fas icon="bullhorn"></mdb-icon>
  </mdb-badge>
  <mdb-badge pill="true" color="purple">
    <mdb-icon far icon="comments"></mdb-icon>
  </mdb-badge>
  <mdb-badge pill="true" color="orange">
    <mdb-icon fas icon="coffee"></mdb-icon>
  </mdb-badge>
  <mdb-badge pill="true" color="green">
    <mdb-icon fas icon="user"></mdb-icon>
  </mdb-badge>
  <mdb-badge color="indigo">
    <mdb-icon fab icon="android" size="2x"></mdb-icon>
  </mdb-badge>
  <mdb-badge color="cyan">
    <mdb-icon fas icon="cog" size="2x"></mdb-icon>
  </mdb-badge>
  <mdb-badge color="orange">
    <mdb-icon fab icon="btc" size="2x"></mdb-icon>
  </mdb-badge>
  <mdb-badge pill="true" color="teal">
    <mdb-icon fas icon="heart" size="2x"></mdb-icon>
  </mdb-badge>
  <mdb-badge pill="true" color="green">
    <mdb-icon fab icon="apple" size="2x"></mdb-icon>
  </mdb-badge>
  <mdb-badge pill="true" color="purple">
    <mdb-icon fas icon="thumbs-up" size="2x"></mdb-icon>
  </mdb-badge>
</div>
